NEXUS_REPO_ID="{{ nexus_repo_id }}"
ARTIFACT_UPLOAD_URL_openmrsmodule="{{ nexus_url }}/repository/maven-snapshots"
ARTIFACT_UPLOAD_URL_openmrsconfig="{{ nexus_url }}/repository/maven-snapshots"
ARTIFACT_UPLOAD_URL_openmrscore="{{ nexus_url }}/repository/maven-snapshots"
ARTIFACT_UPLOAD_URL_bahmniconfig="{{ nexus_url }}/repository/maven-snapshots"
ARTIFACT_UPLOAD_URL_bahmniapps="{{ nexus_url }}/repository/maven-commits"